/* Playing Animation */
@keyframes audio-wave {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-2px); }
}

.animate-audio-wave {
  animation: audio-wave 1s ease-in-out infinite;
  will-change: transform;
}

/* Oculta las ondas de audio adicionales en pantallas pequeñas */
.audio-wave-extra {
    @media (max-width: 680px) {
        display: none;
    }
}