@if (isVisible) {
    <div id="modal" class="fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-screen bg-black/30 backdrop-blur-md cursor-default">
        <div class="p-4 w-full max-w-xl">
            <div class="relative bg-[var(--pacific-cyan)] text-white border border-[var(--night)] rounded-lg shadow-3d">
                <div class="p-4 text-center">  
                    <div class="w-full text-shadow-3d pb-4 md:pb-5" [ngClass]="!modalData.icon ? 'hidden' : ''">
                        <i class="w-12 h-12 text-4xl md:text-5xl text-center" [ngClass]="modalData.icon" [style.color]="iconColor()"></i>
                    </div>

                    <span class="md:text-xl font-bold tracking-wide pb-4 text-shadow-3d" [innerHTML]="modalData.title"></span> 
                    
                    <div class="text-base/7 md:text-lg/8 tracking-wider whitespace-pre-wrap" [ngClass]="modalData.type === 'info' ? 'text-left font-semibold mt-6 mb-4' : 'text-center text-gray-200 my-4'">{{ modalData.content }}</div>

                    @if (modalData.type === 'info') {
                        <span class="text-xs text-center tracking-wide text-gray-300 whitespace-nowrap">
                            Te {{ isSingular ? 'queda' : 'quedan' }} <span class="font-black" [ngClass]="{ 'text-white': countdown > 3, 'text-[var(--bright-gold)]': countdown <= 3 && countdown > 1, 'text-[var(--electric-orange)] animate-pulse': countdown === 1 }">{{ countdown }}</span> {{ isSingular ? 'segundo' : 'segundos' }}
                        </span>
                    }

                    <div class="flex gap-4 pt-4" [ngClass]="modalData.type === 'confirm' ? 'justify-between' : 'justify-center'">
                        <button type="button" (click)="confirm()" class="w-1/2 flex items-center justify-center bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-sm md:text-base font-medium py-3 px-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200">
                            {{ modalData.confirmText }}
                        </button>

                        @if (modalData.type == 'confirm') {
                            <button type="button" (click)="cancel()" class="w-1/2 flex items-center justify-center bg-[var(--dolphin-navy)] hover:bg-[var(--dusk-blue)] text-sm md:text-base font-medium py-3 px-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200">
                                {{ modalData.cancelText }}
                            </button>
                        }                                           
                    </div>
                </div>
            </div>
        </div>
    </div>
}