@if (isVisible) {
    <div id="modal" class="fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-screen bg-black/30 backdrop-blur-md cursor-default">
        <div class="p-4 w-full max-w-lg">
            <div class="relative bg-[var(--pacific-cyan)] text-white border border-white rounded">
                <div class="p-4 text-center">  
                    <span class="w-full text-base sm:text-base lg:text-xl font-normal tracking-wide pb-2 text-shadow-3d" [innerHTML]="modalData.title"></span>                  
                    
                    <div class="text-sm lg:text-base leading-7 my-4 whitespace-pre-wrap" [ngClass]="modalData.type != 'confirm' ? 'text-left' : 'text-center text-gray-200'">{{ modalData.content }}</div>

                    <!--! AÚN NO FUNCIONA  -->
                    @if (modalData.type != 'confirm') {
                        <span class="text-xs text-center tracking-wide text-gray-200 whitespace-nowrap">Te queda x segundos</span>
                    }

                    <div class="flex gap-4 pt-4" [ngClass]="modalData.type != 'confirm' ? 'justify-center' : 'justify-between'">
                        <button type="button" (click)="confirm()" class="w-1/2 flex items-center justify-center bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-xs sm:text-xs md:text-sm lg:text-base font-medium py-3 px-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200">
                            {{ modalData.confirmText }}
                        </button>

                        @if (modalData.type == 'confirm') {
                            <button type="button" (click)="cancel()" class="w-1/2 flex items-center justify-center bg-[var(--dolphin-navy)] hover:bg-[var(--dusk-blue)] text-xs sm:text-xs md:text-sm lg:text-base font-medium py-3 px-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200">
                                {{ modalData.cancelText }}
                            </button>
                        }                                           
                    </div>
                </div>
            </div>
        </div>
    </div>
}