@if (isLoading) {    
    <app-loader text="Calculando resultados..."></app-loader>
} @else {
    <!-- Resumen -->
     @if (!showingDetails) {
        <div class="w-full lg:w-xl p-4 relative bg-[var(--pacific-cyan)] text-white border border-[var(--night)] rounded-lg cursor-default shadow-3d text-center">
            <h5 class="text-lg sm:text-lg lg:text-2xl font-medium text-center tracking-wider text-shadow-3d mb-4 pb-2 border-b-2 border-dashed">Resumen de la partida</h5>
    
            <div class="w-full relative grid grid-cols-2 justify-center items-center my-4">
                <div class="h-40 flex flex-col">                    
                    <p class="text-base sm:text-base lg:text-lg text-shadow-3d font-bold tracking-wider mb-2">
                        Correctas<i class="fa-solid fa-circle-check text-sm text-[var(--sea-green)] ml-2"></i>
                        <!-- <span class="relative top-[-0.2em] text-sm text-shadow-3d text-[var(--sea-green)] ml-2">&#xf058;</span>                         -->
                    </p>
                    <span class="flex-grow flex items-center justify-center bg-white rounded-l-lg text-3xl sm:text-3xl lg:text-4xl font-black text-[var(--cherry-rose)] py-2 px-4 border-r-2 border-b-4 border-[var(--night)]">{{ totalCorrectAnswers }}</span>
                </div>

                <div class="h-40 flex flex-col">
                     <p class="text-base sm:text-base lg:text-lg text-shadow-3d font-bold tracking-wider mb-2">
                        Incorrectas<i class="fa-solid fa-circle-xmark text-sm text-[var(--light-carmine-pink)] ml-2"></i>
                        <!-- <span class="relative top-[-0.2em] text-sm text-shadow-3d text-[var(--light-carmine-pink)] ml-2">&#xf057;</span> -->
                    </p>
                    <span class="flex-grow flex items-center justify-center bg-white rounded-r-lg text-3xl sm:text-3xl lg:text-4xl font-black text-[var(--cherry-rose)] py-2 px-4 border-b-4 border-[var(--night)]">{{ totalWrongAnswers }}</span>
                </div>
            </div>
    
            <button type="submit" class="w-full sm:w-full lg:w-auto bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-xs sm:text-xs md:text-sm lg:text-base font-medium py-3 px-4 mt-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false" (click)="showingDetails = true">
                Ver detalles<i class="fa-solid fa-up-right-and-down-left-from-center one-time-animation ml-2 text-sm" [ngClass]="mouseEnter ? 'fa-shake' : ''"></i>
            </button>

             <div class="flex items-center justify-between mt-5">
                <div class="flex items-center gap-2">
                    <span class="text-xs sm:text-xs lg:text-sm tracking-wide">¿Quieres volver a jugar?</span>
                </div>
                <button type="button" class="relative text-xs sm:text-xs lg:text-sm font-semibold text-shadow-3d hover:text-gray-200 cursor-pointer transition-all duration-200" (click)="openModal()" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
                    Nueva partida<i class="fa-solid fa-arrow-rotate-left one-time-animation ml-2 text-xs" [ngClass]="mouseEnter ? 'fa-shake' : ''"></i>
                </button>
            </div>
        </div>
    }

    <!-- Detalles -->
    @if (showingDetails) {
        <div class="w-full max-w-3xl p-4 bg-[var(--pacific-cyan)] text-white border border-[var(--night)] rounded-lg shadow-3d cursor-default text-center">
            <h5 class="text-lg sm:text-lg lg:text-2xl font-medium text-center tracking-wider text-shadow-3d mb-2 pb-2 border-b-2 border-dashed">Detalles de cada respuesta</h5>

            <div class="relative overflow-hidden">
                <div class="flex items-center justify-center">
                    @for (q of score; track $index) {
                        @if ($index === activeSlide) {
                            <div class="w-full">   
                                <span class="w-full inline-flex justify-center text-xs text-gray-300 mb-1">Canción {{q.index}}</span>

                                <app-track-preview [preview]="q.preview" [albumCover]="q.album" [instrText]="false"></app-track-preview>

                                <div class="grid grid-cols-2 gap-4 justify-center mt-6 mb-4">
                                    <div class="flex flex-col">
                                        <label class="text-base sm:text-base lg:text-lg text-center text-shadow-3d font-bold tracking-wider mb-2" for="answer">
                                            Tu respuesta<i class="fa-solid fa-hand-point-down text-sm ml-3"></i>
                                        </label>
                                        <p id="answer" class="min-h-18 max-h-auto flex-grow flex items-center justify-center text-xs sm:text-xs lg:text-sm font-medium text-[var(--night)] bg-white py-2 px-4 border-b-4 border-[var(--night)] rounded-lg" [innerHTML]="q.selectedTrack"></p>
                                    </div>
                                    
                                    <div class="flex flex-col">
                                        <label class="text-base sm:text-base lg:text-lg text-center text-shadow-3d font-bold tracking-wider mb-2" for="answer">
                                            Respuesta correcta<i class="fa-solid fa-circle-check text-sm ml-3"></i>
                                        </label>
                                        <p id="correct" class="min-h-18 max-h-auto flex-grow flex items-center justify-center text-xs sm:text-xs lg:text-sm font-medium text-[var(--night)] bg-white py-2 px-4 border-b-4 border-[var(--night)] rounded-lg" [innerHTML]="q.correctTrack"></p>
                                    </div>
                                </div>

                                <p class="w-full text-xs text-gray-300 font-medium tracking-widest">
                                    {{ q.result ? 'Correcta' : 'Incorrecta' }}<i class="ml-2 outline-text-shadow" [class]="q.result ? 'fa-solid fa-circle-check text-[var(--sea-green)]' : 'fa-solid fa-circle-xmark text-[var(--light-carmine-pink)]'"></i>
                                </p>         
                            </div>
                        }                        
                    }
                </div>

                <div class="flex justify-between items-center my-4 pt-4 border-t-2 border-dashed">
                    <button (click)="prevSlide()" class="flex items-center justify-center bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-xs md:text-sm font-medium py-3 px-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
                        <i class="fa-solid fa-angle-left one-time-animation mr-2" [ngClass]="mouseEnter ? 'fa-shake' : ''"></i>Anterior
                    </button>

                    <div class="h-[48px] flex justify-center items-center flex-wrap gap-3 sm:mx-2 lg:mx-4">
                        @for (q of score; track $index) {
                            <button class="w-3 h-3 rounded-full drop-3d cursor-pointer transition-all duration-200" (click)="activeSlide = q.index" [ngClass]="$index === activeSlide ? 'bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] hover:border-white' : 'bg-white hover:bg-[var(--dark-silver)]'" title="Canción {{q.index + 1}}"></button>
                        }
                    </div>

                    <button (click)="nextSlide()" class="flex items-center justify-center bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-xs md:text-sm font-medium py-3 px-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
                        Siguiente<i class="fa-solid fa-angle-right one-time-animation ml-2" [ngClass]="mouseEnter ? 'fa-shake' : ''"></i>
                    </button>
                </div>
            </div>

            <button type="submit" class="w-full xs:w-full lg:w-auto bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-xs sm:text-xs md:text-sm lg:text-base font-medium py-3 px-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false" (click)="showingDetails = false">
                Volver al resumen<i class="fa-solid fa-down-left-and-up-right-to-center one-time-animation ml-2 text-sm" [ngClass]="mouseEnter ? 'fa-shake' : ''"></i>
            </button>

            <div class="flex items-center justify-between mt-3">
                <div class="flex items-center gap-2">
                    <span class="text-xs sm:text-xs lg:text-sm tracking-wide">¿Quieres volver a jugar?</span>
                </div>
                <button type="button" class="relative text-xs sm:text-xs lg:text-sm font-semibold text-shadow-3d hover:text-gray-200 cursor-pointer transition-all duration-200" (click)="openModal()" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
                    Nueva partida<i class="fa-solid fa-arrow-rotate-left one-time-animation ml-2 text-xs" [ngClass]="mouseEnter ? 'fa-shake' : ''"></i>
                </button>
            </div>
        </div>
    }
}