<div class="h-full flex flex-col">
    <div class="flex-1 flex items-center justify-center">  
        @if (isLoading) {    
            <app-loader [text]="loaderText"></app-loader>
        } @else {
            <!-- Resumen -->
            @if (!showingDetails) {
                <div class="w-full sm:w-xl p-4 relative bg-[var(--pacific-cyan)] text-white border border-[var(--night)]/50 rounded-lg cursor-default shadow-3d text-center">
                    <h5 class="text-xl md:text-2xl font-medium text-center tracking-wider text-shadow-3d mb-4 pb-2 border-b-2 border-dashed">Resumen</h5>
                    
                    <div class="w-full relative grid grid-cols-2 gap-2 sm:gap-4 justify-center items-center">
                        <div class="h-40 flex flex-col">
                            <p class="flex justify-center items-baseline gap-3 text-base md:text-xl font-bold tracking-wider text-shadow-3d mb-2">
                                Correctas<i class="fa-solid fa-check text-base text-[var(--sea-green)] outline-text-shadow text-base"></i>
                            </p>
                            <span class="flex-grow flex items-center justify-center bg-white rounded-lg text-3xl md:text-4xl font-black text-[var(--sea-green)] shadow-lg py-3 px-4 border border-b-4 border-[var(--night)]">
                                {{ totalCorrectAnswers }}
                            </span>
                        </div>
                    
                        <div class="h-40 flex flex-col">
                            <p class="flex justify-center items-baseline gap-3 text-base md:text-xl font-bold tracking-wider text-shadow-3d mb-2">
                                Incorrectas<i class="fa-solid fa-xmark text-base text-[var(--light-carmine-pink)] outline-text-shadow text-base"></i>
                            </p>
                            <span class="flex-grow flex items-center justify-center bg-white rounded-lg text-3xl md:text-4xl font-black text-[var(--light-carmine-pink)] shadow-lg py-3 px-4 border border-b-4 border-[var(--night)]">
                                {{ totalWrongAnswers }}
                            </span>
                        </div>
                    </div>

                    <button type="submit" class="flex justify-center items-center gap-3 mx-auto w-full md:w-1/2 bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-sm md:text-base font-medium py-3 px-4 mt-4 sm:mt-6 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200" (click)="showingDetails = true">
                        Ver respuestas<i class="fa-solid fa-rectangle-list"></i>
                    </button>

                    <div class="flex items-center justify-between mt-6 md:mt-8">
                        <div class="flex items-center gap-2">
                            <span class="text-xs md:text-sm tracking-wide">¿Quieres volver a jugar?</span>
                        </div>
                        <button type="button" class="relative text-xs md:text-sm font-semibold text-shadow-3d hover:text-gray-200 cursor-pointer transition-all duration-200" (click)="openModal()" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
                            Nueva partida<i class="fa-solid fa-repeat one-time-animation ml-2 text-xs" [ngClass]="mouseEnter ? 'fa-shake' : ''"></i>
                        </button>
                    </div>
                </div>    
            }

            <!-- Detalles -->
            @if (showingDetails) {
                <div class="w-full lg:w-3xl p-4 bg-[var(--pacific-cyan)] text-white border border-[var(--night)] rounded-lg shadow-3d cursor-default text-center">
                    <h5 class="text-xl md:text-2xl font-medium text-center tracking-wider text-shadow-3d mb-4 pb-2 border-b-2 border-dashed">Tus respuestas</h5>
                        <div class="relative overflow-hidden">
                            <div class="flex items-center justify-center">
                                @for (q of score; track $index) {
                                    @if ($index === activeSlide) {
                                        <div class="w-full">                                        
                                            <app-track-preview [preview]="q.preview" [albumCover]="q.album" [instrText]="false"></app-track-preview>
                                        
                                            <div class="grid grid-cols-2 gap-2 sm:gap-4 justify-center mt-6 mb-3">
                                                <div class="flex flex-col">
                                                    <p class="flex justify-center items-baseline gap-3 text-base md:text-xl font-bold tracking-wider text-shadow-3d mb-2" for="answer">
                                                        <i class="fa-solid fa-hand-point-down text-base"></i>Seleccionada
                                                    </p>
                                                    <p id="answer" class="min-h-16 md:min-h-18 flex items-center justify-center text-xs sm:text-sm font-medium text-[var(--night)] bg-white shadow-lg py-3 px-4 border border-b-4 border-[var(--night)] rounded-lg" [innerHTML]="q.selectedTrack"></p>
                                                </div>
                                        
                                                <div class="flex flex-col">
                                                    <p class="flex justify-center items-baseline gap-3 text-base md:text-xl font-bold tracking-wider text-shadow-3d mb-2" for="answer">
                                                        <i class="fa-solid fa-compact-disc text-base"></i>Canción
                                                    </p>
                                                    <p id="correct" class="min-h-16 md:min-h-18 flex items-center justify-center text-xs sm:text-sm font-medium text-[var(--night)] bg-white shadow-lg py-3 px-4 border border-b-4 border-[var(--night)] rounded-lg" [innerHTML]="q.correctTrack"></p>
                                                </div>
                                            </div>

                                            <p class="w-full flex justify-center items-center gap-3 mt-4 text-xs md:text-sm text-[var(--glossy-grey)] font-medium tracking-wider">
                                                {{ q.result ? 'Correcta' : 'Incorrecta' }}<i class="text-xs outline-text-shadow" [class]="q.result ? 'fa-solid fa-check text-[var(--sea-green)]' : 'fa-solid fa-xmark text-[var(--light-carmine-pink)]'"></i>
                                            </p>
                                        </div>
                                    }
                                }
                            </div>

                            <div class="flex justify-between items-end md:items-center mt-6 mb-2">
                                <button (click)="prevSlide()" class="w-auto md:w-[145px] flex items-center justify-center gap-3 bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-sm md:text-base font-medium py-3 px-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
                                    <i class="fa-solid fa-angle-left one-time-animation text-sm" [ngClass]="mouseEnter ? 'fa-shake' : ''"></i>Anterior
                                </button>
                        
                                <div class="flex justify-center items-center flex-wrap gap-3 mx-2 md:mx-4">
                                    @for (q of score; track $index) {
                                        <button class="w-2.5 md:w-3 h-2.5 md:h-3 rounded-full drop-3d-effect cursor-pointer transition-all duration-200" (click)="activeSlide = q.index" [ngClass]="$index === activeSlide ? 'bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)]' : 'bg-white hover:bg-[var(--dark-silver)]'"></button>
                                    }                                    
                                    <span class="w-full inline-flex justify-center gap-2 text-xs text-[var(--glossy-grey)]" [ngClass]="score.length >= 20 ? 'mt-1' : ''"><span class="text-white font-black">{{activeSlide + 1}}</span> de <span class="text-white font-black">{{ score.length }}</span></span>
                                </div>
                        
                                <button (click)="nextSlide()" class="w-auto md:w-[145px] flex items-center justify-center gap-3 bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-sm md:text-base font-medium py-3 px-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
                                    Siguiente<i class="fa-solid fa-angle-right one-time-animation text-sm" [ngClass]="mouseEnter ? 'fa-shake' : ''"></i>
                                </button>
                            </div>
                        </div>

                        <button type="submit" class="flex justify-center items-center gap-3 mx-auto w-full sm:w-auto bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-sm md:text-base font-medium py-3 px-4 mt-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer transition-all duration-200" (click)="showingDetails = false">
                            Volver al resumen<i class="fa-solid fa-table-columns opacity-80"></i>
                        </button>   

                        <div class="flex items-center justify-between mt-6 md:mt-4">
                            <div class="flex items-center gap-2">
                                <span class="text-xs md:text-sm tracking-wide">¿Quieres volver a jugar?</span>
                            </div>
                            <button type="button" class="relative text-xs md:text-sm font-semibold text-shadow-3d hover:text-gray-200 cursor-pointer transition-all duration-200" (click)="openModal()" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
                                Nueva partida<i class="fa-solid fa-repeat one-time-animation ml-2 text-xs" [ngClass]="mouseEnter ? 'fa-shake' : ''"></i>
                            </button>
                        </div>
                </div>
            }
        }
    </div>
</div>