<!-- @if (isLoadingGame) {
  <p>Cargando partida...</p>
} @else if(!isLoadingGame) {
  <p>YA CARGÓo</p>
} -->

<!-- @if (isLoadingGame) {
    <p>Cargando partida....</p>
}@else { -->
    <div class="min-w-sm max-w-2xl h-full relative p-5 bg-red-500 border border-white rounded-lg cursor-default text-center text-white">
        <span>No. {{ currentTrackIndex + 1 }}</span>

        <app-track-preview [preview]="currentTrack.preview" [albumCover]="currentTrack.album.cover_medium"></app-track-preview>

        <app-track-lyrics [artist]="currentTrack.artist.name" [track]="currentTrack.title" [index]="currentTrackIndex" (lyricsLoaded)="onLyricsLoaded($event)"></app-track-lyrics>
       
        <p class="text-base sm:text-base lg:text-xl font-black leading-8 tracking-wider text-shadow-3d py-2 my-1 border-t-1 border-dashed">Elige la respuesta que creas correcta:</p>   
        <div class="grid grid-cols-2 gap-4 justify-center">  
            @for (answer of answerOptions; track answer.id) { 
                <button 
                    [ngClass]="answer.title === currentTrack.title ? 'disabled:border-[#2e7d32]' : 'disabled:border-[#b71c1c]'"
                    (click)="onAnswerSelected(answer.title)" [disabled]="alreadyAnswered(currentTrackIndex)" 
                    class="min-h-18 max-h-auto text-sm font-black text-black bg-white hover:bg-gray-200 shadow-md py-2 px-4 border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet-light)] rounded cursor-pointer disabled:bg-[#F5F5F5] hover:disabled:bg-[#F5F5F5] disabled:text-gray-400 disabled:cursor-default disabled:shadow-xl transition-all duration-100 ease-linear" >
                    {{ answer.title }}
                </button>
            }
        </div>

        <p class="text-xs pt-2 mt-1">{{ currentTrackIndex + 1 }} de {{ gameTracks.length }}</p>
 
        <div class="flex justify-center flex-wrap py-4">
            <p class="w-full mb-3 text-xs text-[var(--chinese-silver)] tracking-widest" [ngClass]="alreadyAnswered(currentTrackIndex) ? 'visible' : 'invisible'">Respondida &#xf058;</p>
            <button (click)="prevQuestion()" [disabled]="currentTrackIndex == 0" [ngClass]="alreadyAnswered(currentTrackIndex) && currentTrackIndex === gameTracks.length - 1 ? '!bg-white text-[var(--jet)] hover:!bg-[var(--jet-light)] hover:!text-white' : ''" class="flex items-center bg-[var(--jet)] hover:bg-[var(--jet-light)] text-xs sm:text-xs md:text-sm lg:text-base font-bold py-3 px-4 mx-3 border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet)] disabled:bg-[#5c5c5c] hover:disabled:bg-[#5c5c5c] hover:disabled:border-[var(--jet-dark)] disabled:text-[#b0b0b0] disabled:cursor-default rounded-lg cursor-pointer transition-all duration-200 ease-in-out"
                (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false"><i class="fa-solid fa-caret-left one-time-animation mr-3 disabled:text-gray-500" [ngClass]="mouseEnter && currentTrackIndex > 0 ? 'fa-shake' : ''"></i>Anterior</button>
    
            <button (click)="nextQuestion()" [disabled]="currentTrackIndex === gameTracks.length - 1" [ngClass]="alreadyAnswered(currentTrackIndex) && currentTrackIndex !== gameTracks.length - 1 ? '!bg-white text-[var(--jet)] hover:!bg-[var(--jet-light)] hover:!text-white' : ''" class="flex items-center bg-[var(--jet)] hover:bg-[var(--jet-light)] text-xs sm:text-xs md:text-sm lg:text-base font-bold py-3 px-4 mx-3 border-b-4 border-[var(--jet-dark)] hover:border-[var(--jet)] disabled:bg-[#5c5c5c] hover:disabled:bg-[#5c5c5c] hover:disabled:border-[var(--jet-dark)] disabled:text-[#b0b0b0] disabled:cursor-default rounded-lg cursor-pointer transition-all duration-200 ease-in-out"
                (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">Siguiente <i class="fa-solid fa-caret-right one-time-animation ml-3 disabled:text-gray-500" [ngClass]="mouseEnter && currentTrackIndex >= 0 ? 'fa-shake' : ''"></i></button>
        </div>

    </div>
<!-- } -->

<!--
    * VOLVER AL CÓDIGO ANTERIOR, O AL MENOS GUARDAR EL REPOSITORIO ANTES DE SEGUIRLE MOVIENDO

    Partida inicia
│
├── Obtener letra de la canción 1
│
└── Usuario escucha el preview y responde...
      │
      └── Mientras tanto obtener letra de la canción 2

    * TAMBIÉN CHECAR LA PARTE DEL preview PORQUE EN ALGUNAS (usa de ejemplo MARTIRIO) NO REPRODUCE E IMPRIME:
    Uncaught (in promise) DOMException: The media resource indicated by the src attribute or assigned media provider object was not suitable.
        togglePlay track-preview.ts:29
        TrackPreview_Template_button_click_7_listener track-preview.html:8
        Angular 3    track-preview.ts:29:13

    ERROR DOMException: The media resource indicated by the src attribute or assigned media provider object was not suitable.
        togglePlay track-preview.ts:29
        TrackPreview_Template_button_click_7_listener track-preview.html:8
        Angular 3
-->