@if (isLoadingGame) {
   <app-loader [text]="loaderText"></app-loader>
} @else {
    <div class="w-full lg:w-3xl relative p-4 bg-[var(--pacific-cyan)] text-white border border-[var(--night)]/50 rounded-lg shadow-3d cursor-default text-center">
        <app-track-preview [preview]="currentTrack.preview" [albumCover]="currentTrack.album.cover_medium" (previewPlayed)="onPreviewPlayed(currentTrack.preview)" (previewError)="onPreviewError(currentTrack.preview)" [hasPreviewError]="failedPreviews.has(currentTrack.preview)"></app-track-preview>

        <app-track-lyrics [artist]="currentTrack.artist.name" [track]="currentTrack.title" [index]="currentTrackIndex" (lyricsLoaded)="onLyricsLoaded($event)"></app-track-lyrics>

        <p class="w-full text-lg md:text-xl font-bold tracking-wide pb-4 mt-2 text-shadow-3d">¿Qué canción es?</p>
        <div class="grid grid-cols-2 gap-2 md:gap-3 justify-center"> 
            @for (answer of answerOptions[currentTrackIndex]; track answer.id) {
                <button [disabled]="alreadyAnswered(currentTrackIndex) || (!hasPlayedPreview(currentTrack.preview) && !failedPreviews.has(currentTrack.preview))" [ngClass]=" alreadyAnswered(currentTrackIndex) ? (answer.id === currentTrack.id ? '!bg-gray-200 !shadow-none disabled:!border-[var(--sea-green)]' : '!bg-gray-200 !shadow-none disabled:!border-[var(--light-carmine-pink)]') : ''" (click)="onAnswerSelected(answer.title)"
                    class="min-h-16 md:min-h-18 flex items-center justify-center text-xs sm:text-sm font-medium text-[var(--night)] bg-white hover:bg-[var(--dark-silver)] shadow-lg py-3 px-4 border-b-4 border-[var(--night)] hover:border-white rounded-lg cursor-pointer disabled:bg-[var(--glossy-grey)] hover:disabled:bg-[var(--glossy-grey)] disabled:text-[var(--dolphin-navy)] disabled:border-white disabled:cursor-not-allowed transition-all duration-200">
                        {{ gameService.cleanTrackTitle(answer.title) }}
                </button>
            }
        </div>

        <div class="flex justify-center flex-wrap py-3 sm:pb-0 gap-x-4 md:gap-x-8 gap-y-2">        
            <span class="w-full min-h-[20px] flex justify-center items-center gap-3 mb-3 mt-1 text-xs md:text-sm text-[var(--glossy-grey)] font-medium tracking-wider" [ngClass]="alreadyAnswered(currentTrackIndex) || !hasPlayedPreview(currentTrack.preview) ? 'visible' : 'invisible'">
                @if (alreadyAnswered(currentTrackIndex)) {
                    Respondida<i class="fa-solid fa-circle-check text-xs"></i>
                } @else if (failedPreviews.has(currentTrack.preview)) {
                    <!-- Mensaje de error en app-track-preview -->
                } @else if (!hasPlayedPreview(currentTrack.preview)) {
                    <i class="fa-solid fa-circle-info text-xs"></i>Debes escuchar el preview
                }
            </span>

            <button (click)="prevQuestion()" [disabled]="currentTrackIndex === 0 || isGameFinished" [ngClass]="prevAnswered ? '!bg-white text-[var(--night)] hover:!bg-[var(--dark-silver)] !border-[var(--night)] hover:!border-white' : ''"
                class="w-auto md:w-[145px] flex items-center justify-center gap-3 bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-sm md:text-base font-medium py-3 px-4 border-b-4 border-[var(--night)] hover:border-white disabled:bg-[var(--dolphin-navy)] hover:disabled:bg-[var(--dolphin-navy)] hover:disabled:border-[var(--night)] disabled:text-[var(--dark-silver)] disabled:cursor-not-allowed rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
                    <i class="fa-solid fa-angle-left one-time-animation disabled:text-[var(--dark-silver)] text-sm" [ngClass]="mouseEnter && currentTrackIndex > 0 ? 'fa-jello' : ''"></i>Anterior
            </button>

            <button (click)="nextQuestion()" [disabled]="currentTrackIndex === gameTracks.length - 1 || isGameFinished" [ngClass]="nextAnswered ? '!bg-white text-[var(--night)] hover:!bg-[var(--dark-silver)] !border-[var(--night)] hover:!border-white' : ''"
                class="w-auto md:w-[145px] flex items-center justify-center gap-3 bg-[var(--cherry-rose)] hover:bg-[var(--dark-raspberry)] text-sm md:text-base font-medium py-3 px-4 border-b-4 border-[var(--night)] hover:border-white disabled:bg-[var(--dolphin-navy)] hover:disabled:bg-[var(--dolphin-navy)] hover:disabled:border-[var(--night)] disabled:text-[var(--dark-silver)] disabled:cursor-not-allowed rounded-lg cursor-pointer transition-all duration-200" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
                    Siguiente<i class="fa-solid fa-angle-right one-time-animation disabled:text-[var(--dark-silver)] text-sm" [ngClass]="mouseEnter && currentTrackIndex < gameTracks.length - 1 ? 'fa-jello' : ''"></i>
            </button>
        </div>

        <div class="mt-2 sm:mt-0">
            <div class="flex items-center justify-between mb-2 md:mb-4">
                <button class="flex justify-center items-center gap-2 text-xs md:text-sm text-shadow-3d hover:text-gray-300 cursor-pointer transition-all duration-200" (click)="showModal()" (mouseenter)="mouseEnter = true" (mouseleave)="mouseEnter = false">
                    <i class="fa-solid fa-right-from-bracket one-time-animation" [ngClass]="mouseEnter ? 'fa-jello' : ''"></i>Salir
                </button>

                <p class="text-xs md:text-sm text-[var(--glossy-grey)]">Canción <span class="font-black text-white">{{ currentTrackIndex + 1 }}</span> de <span class="font-black text-white">{{ gameTracks.length }}</span></p>
            </div>

            <div class="w-full h-1 bg-white/25 rounded-full overflow-hidden">
                <div class="h-full bg-[var(--cherry-rose)]/80 rounded-full transition-all duration-500 ease-out" [style.width.%]="progressBar"></div>
            </div>
        </div>
    </div>
}